NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_MAP_STYLE_URL=
NEXT_PUBLIC_MAPTILER_KEY=
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_PUBLIC_DEFAULT_CENTER_LON=35.0
NEXT_PUBLIC_DEFAULT_CENTER_LAT=39.0
NEXT_PUBLIC_DEFAULT_ZOOM=6
